<div class="animate__animated animate__backInDown">

  <h2 class="text-center">Por País</h2>
  <hr>

  <div class="row">

    <div class="col-md">
      <app-pais-input nombre="del pais " (onDebounce)="onDebounce($event)" (onEnter)="buscar($event)" ></app-pais-input>
    </div>

  </div>

  <ul class="list-group" *ngIf="mostrarSugeridos">
    <li *ngFor="let item of paisesSugeridos" class="list-group-item list-group-item-action" >

      <a class="nav-link" [routerLink]="['/pais',item.alpha2Code]"> {{item.name}}</a>
    </li>

    <li  class="list-group-item list-group-item-action" >

      <a class="nav-link" (click)="buscar(termino)" > Buscar "{{termino}}"</a>
    </li>

  </ul>


  <div class="alert alert-danger mt-2" *ngIf="!MostrarTabla">
    No se encontro nada con el termno {{termino}}

  </div>
  <div class="row mt-3">
    <div class="col">
      <app-pais-tablac [MostrarTabla]="MostrarTabla"  [paises]="paises"  ></app-pais-tablac>
    </div>
  </div>
</div>
